<div class="px-1.5 pb-1.5 pt-3.5 w-fit h-full bg-[#202020] sticky left-0 flex flex-auto flex-col justify-between">
    <div>
        <div class="px-2.5 py-2 rounded-[5.07px] mb-3 transition-all duration-300 ease-in-out hover:bg-[#2D2D2D]">
            <img class="w-[20px] h-auto" src="/navbar icons/menuIcon.png" alt="">
        </div>
        <div routerLink="/chat" routerLinkActive="activeNavOption" [routerLinkActiveOptions]="{ exact: false }" class="px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#2D2D2D] relative">
            @if(isRouteActive("/chat")) {
                <div class="absolute h-1/2 w-1 bg-[#1DAA61] left-0 rounded-full top-1/2 -translate-y-1/2"></div>
            }
            <img class="w-[20px] h-auto" src="/navbar icons/chatIcon.png" alt="">
        </div>
    </div>
    <div>
        <div routerLink="/settings" routerLinkActive="activeNavOption" [routerLinkActiveOptions]="{ exact: false }" class="px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#2D2D2D] mb-1 relative">
            @if(isRouteActive("/settings")) {
                <div class="absolute h-1/2 w-1 bg-[#1DAA61] left-0 rounded-full top-1/2 -translate-y-1/2"></div>
            }
            <img class="w-[20px] h-[20px] rounded-full" src="/navbar icons/settingsIcon.png" alt="">
        </div>
        <div routerLink="/profile" routerLinkActive="activeNavOption" [routerLinkActiveOptions]="{ exact: false }" class="px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#2D2D2D] relative">
            @if(isRouteActive("/profile")) {
                <div class="absolute h-1/2 w-1 bg-[#1DAA61] left-0 rounded-full top-1/2 -translate-y-1/2"></div>
            }
            <img class="w-[20px] h-[20px] rounded-full" src="/navbar icons/profileIcon.png" alt="">
        </div>
    </div>
</div>