<div
  class="flex justify-center flex-grow w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable"
>
  <div class="flex items-center justify-center w-full">
    <div class="flex items-center xl:p-10">
      <form
        [formGroup]="registerForm" (submit)="onSubmit();"
        class="flex flex-col w-full h-full pb-6 text-center bg-white rounded-3xl"
      >
        <h3 class="mb-3 text-4xl font-extrabold text-dark-grey-900">Sign Up</h3>
        <div class="flex items-start gap-7">
            <div class="text-start">
                <label for="userName" class="text-sm text-start text-grey-900"
                [class.error]="registerForm.get('userName')?.errors  && registerForm.get('userName')!.touched"
                  >Username*</label
                >
                <div class="relative">
                  <input
                    id="userName"
                    type="text"
                    formControlName="userName"
                    placeholder="username"
                    class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-grey-400 mt-2 mb-7 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl border border-transparent"
                    [class.error]="registerForm.get('userName')?.errors  && registerForm.get('userName')!.touched"
                  />
                  @if(registerForm.get('userName')!.hasError('required')  && registerForm.get('userName')!.touched){
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">This Field is required.</p>
                  }@else if (registerForm.get('userName')!.errors  && registerForm.get('userName')!.touched) {
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">{{ registerForm.get('userName')?.errors?.['message'] }}</p>
                  }
                </div>
                <label for="displayName" class="text-sm text-start text-grey-900"
                [class.error]="registerForm.get('displayName')?.errors  && registerForm.get('displayName')!.touched"
                  >Display name*</label
                >
                <div class="relative">
                  <input
                    id="displayName"
                    type="text"
                    formControlName="displayName"
                    placeholder="Display name"
                    class="mt-2 flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-grey-400 mb-7 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl border border-transparent"
                    [class.error]="registerForm.get('displayName')?.errors  && registerForm.get('displayName')!.touched"
                  />
                  @if(registerForm.get('displayName')!.hasError('required')  && registerForm.get('displayName')!.touched){
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">This Field is required.</p>
                  }@else if (registerForm.get('displayName')!.errors  && registerForm.get('displayName')!.touched) {
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">{{ registerForm.get('displayName')?.errors?.['message'] }}</p>
                  }
                </div>
                <label for="email" class="text-sm text-start text-grey-900"
                [class.error]="registerForm.get('email')?.errors  && registerForm.get('email')!.touched"
                  >Email*</label
                >
                <div class="relative">
                  <input
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="email"
                    class="mt-2 flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-grey-400 mb-5 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl border border-transparent"
                    [class.error]="registerForm.get('email')?.errors  && registerForm.get('email')!.touched"
                  />
                  @if(registerForm.get('email')!.hasError('required')  && registerForm.get('email')!.touched){
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-6">This Field is required.</p>
                  }@else if (registerForm.get('email')!.hasError('pattern') && registerForm.get('email')!.touched) {
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-6">Enter Valid Email.</p>
                  }@else if (registerForm.get('email')!.errors  && registerForm.get('email')!.touched) {
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-6">{{ registerForm.get('email')?.errors?.['message'] }}</p>
                  }
                </div>
            </div>
            <div class="text-start">
                <label for="phoneNumber" class="text-sm text-start text-grey-900"
                [class.error]="registerForm.get('phoneNumber')?.errors  && registerForm.get('phoneNumber')!.touched"
                  >Phone number*</label
                >
                <div class="relative">
                  <input
                    id="phoneNumber"
                    type="text"
                    formControlName="phoneNumber"
                    placeholder="Enter Phone number"
                    class="mt-2 flex items-center w-full px-5 py-4 mb-7 mr-2 text-sm font-medium outline-none focus:bg-grey-400 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl border border-transparent"
                    [class.error]="registerForm.get('phoneNumber')?.errors  && registerForm.get('phoneNumber')!.touched"
                  />
                  @if(registerForm.get('phoneNumber')!.hasError('required')  && registerForm.get('phoneNumber')!.touched){
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">This Field is required.</p>
                  }@else if (registerForm.get('phoneNumber')!.hasError('pattern')  && registerForm.get('phoneNumber')!.touched) {
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">Enter Valid PhoneNumber.</p>
                  }@else if (registerForm.get('phoneNumber')!.errors  && registerForm.get('phoneNumber')!.touched) {
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">{{ registerForm.get('phoneNumber')?.errors?.['message'] }}</p>
                  }
                </div>
                <label for="password" class="text-sm text-start text-grey-900"
                [class.error]="registerForm.get('password')?.errors  && registerForm.get('password')!.touched || registerForm.get('confirmPassword')?.errors  && registerForm.get('confirmPassword')!.touched"
                  >Password*</label
                >
                <div class="relative">
                  <input
                    id="password"
                    type="password"
                    formControlName="password"
                    placeholder="Enter password"
                    class="mt-2 flex items-center w-full px-5 py-4 mb-7 mr-2 text-sm font-medium outline-none focus:bg-grey-400 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl border border-transparent"
                    [class.error]="registerForm.get('password')?.errors  && registerForm.get('password')!.touched || registerForm.get('confirmPassword')?.errors  && registerForm.get('confirmPassword')!.touched"
                  />
                  @if(registerForm.get('password')!.hasError('required')  && registerForm.get('password')!.touched){
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">This Field is required.</p>
                  }@else if (registerForm.get('password')!.errors  && registerForm.get('password')!.touched) {
                      <p class="text-[13px] text-[#FF6B6B] absolute -bottom-7">{{ registerForm.get('password')?.errors?.['message'] }}</p>
                  }
                </div>
                <label for="confirmPassword" class="text-sm text-start text-grey-900"
                [class.error]="registerForm.get('confirmPassword')?.errors  && registerForm.get('confirmPassword')!.touched || registerForm.get('password')?.errors  && registerForm.get('password')!.touched"
                  >Confirm Password*</label
                >
                <div class="relative">
                  <input
                    id="confirmPassword"
                    type="password"
                    formControlName="confirmPassword"
                    placeholder="Enter password"
                    class="mt-2 flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-grey-400 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl border border-transparent"
                    [class.error]="registerForm.get('confirmPassword')?.errors  && registerForm.get('confirmPassword')!.touched || registerForm.get('password')?.errors  && registerForm.get('password')!.touched"
                  />
                  @if(registerForm.get('confirmPassword')!.hasError('required')  && registerForm.get('confirmPassword')!.touched){
                    <p class="text-[13px] text-[#FF6B6B] absolute -bottom-6">This Field is required.</p>
                  }@else if (registerForm.get('confirmPassword')!.errors  && registerForm.get('confirmPassword')!.touched) {
                      <p class="text-[13px] text-[#FF6B6B] absolute -bottom-6">{{ registerForm.get('confirmPassword')?.errors?.['message'] }}</p>
                  }
                </div>
            </div>
        </div>
        <!-- <div class="flex flex-row justify-between mb-8">
          <label
            class="relative inline-flex items-center mr-3 cursor-pointer select-none"
          >
            <input type="checkbox" checked value="" class="sr-only peer" />
            <div
              class="w-5 h-5 bg-white border-2 rounded-sm border-grey-500 peer peer-checked:border-0 peer-checked:bg-purple-blue-500"
            >
              <img
                class=""
                src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/icons/check.png"
                alt="tick"
              />
            </div>
            <span class="ml-3 text-sm font-normal text-grey-900"
              >Keep me logged in</span
            >
          </label>
          <a
            href="javascript:void(0)"
            class="mr-4 text-sm font-medium text-purple-blue-500"
            >Forget password?</a
          >
        </div> -->
        <button
          class="mx-auto w-full px-6 py-5 my-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 bg-purple-blue-500"
          type="submit"
        >
          @if(isFormSubmited) {
            <div class="flex justify-center items-center">
              <div class="animate-spin inline-block size-[14px] border-[3px] border-current border-t-transparent text-white rounded-full dark:text-white" role="status" aria-label="loading">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
          }@else {
            Sign Up
          }
        </button>
        <p class="text-center text-sm leading-relaxed text-grey-900">
          Already have an account?
          <a routerLink="/auth/login" class="font-bold text-grey-700"
            >Login to an Account</a
          >
        </p>
      </form>
    </div>
  </div>
</div>