<div class="flex flex-col flex-auto gap-[2px] h-full relative">
    @if(showGroupInfo) {
        <div class="absolute z-50 ease-in-out duration-300 origin-center top-0 left-0 w-full max-w-sm rounded-[8px] bg-[#2C2C2C] shadow-[0_4px_8px_rgba(0,0,0,0.1),0_8px_16px_rgba(0,0,0,0.2)]">
            <div>
                <div class="flex justify-end px-4 pt-4">
                    <button (click)="leaveGroupChat();" id="dropdownButton" data-dropdown-toggle="dropdown" class=" hover:bg-[#383838] inline-block text-white rounded-md text-sm p-1.5" type="button">
                        <span class="sr-only">Open dropdown</span>
                        <img class="w-7 h-auto" src="/icons/logoutIcon.png" alt="">
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2" aria-labelledby="dropdownButton">
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Leave</a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col items-center pb-5">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://chat-app-muiltimedia-file-storage.s3.ap-south-1.amazonaws.com/defaultImages/1729576923503-551802289-group+(1).png" alt="Bonnie image"/>
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ chat?.groupName }}</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ formatDate(chat?.createdAt) }}</span>
                    <div class="flex mt-4 md:mt-6">
                        <button (click)="openOrCloseNewMemberAddModal();" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center rounded-md hover:bg-[#1E9D5B] bg-[#1DAA61] text-black">Add members</button>
                        <button (click)="showOrCloseMemberList()" class="py-2 px-4 ms-2 text-sm font-medium hover:bg-[#404140] bg-[#383838] text-center rounded-md">
                            @if(!showMemberList) {
                                Show members
                            }@else {
                                Close members
                            }
                        </button>
                    </div>
                </div>
                @if(showMemberList) {
                    <h5 class="mx-3 my-1 text-[16px] font-medium text-white">Members ({{ chat?.participants?.length }})</h5>
                    <div class="max-h-[40vh] flex flex-col gap-2 chatSection px-2.5 pb-5">
                        @for (user of chat?.participantsData; track $index) {
                            <div class="py-1.5 px-3 mr-1 rounded-[5.07px] hover:bg-[#383838] cursor-pointer select-none">
                                <div class="flex items-center gap-4 max-w-full text-sm">
                                    <div class="flex-initial">
                                        <img class="w-[36px] rounded-full h-auto" [src]="user.profilePicture.url" alt="">
                                    </div>
                                    <div class="flex-auto">
                                        <div class="justify-between w-full relative">
                                            @if(currentUserProfile?._id === user._id){
                                                <p class="font-medium">You</p>
                                            }@else{
                                                <p class="font-medium">{{ user.displayName }}</p>
                                            }
                                            <p class="text-[#CFCFCF] text-ellipsis overflow-hidden whitespace-nowrap max-w-[190px]">{{ user.about }}</p>
                                            @if(chat?.groupAdmin === user._id) {
                                                <p class="absolute right-3 bottom-1 text-[12px] text-[#CFCFCF]">Admin</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }@else if(newMemberAddModal) {
                    <div class="px-2.5 pb-5">
                        <div class="mb-3">
                            <input #searchUserInput (keyup)="searchToStartOrCreateNewGroupChatOrChat($event);" class="w-full py-1 pl-2 text-sm border border-[#3B3B3B] border-b-white bg-[#222222] text-white font-normal outline-none rounded-[5.07px] placeholder:text-[#979797] focus:border-b-2 focus:border-b-[#1DAA61]" placeholder="Search name or number" type="text">
                        </div>
    
                        @if(groupMembers.length) {
                            <div class="my-4 pr-1.5 flex gap-1.5">
                                <div class="cursor-pointer w-1/2 py-2 text-[13px] px-1 hover:bg-[#1E9D5B] bg-[#1DAA61] text-black text-center rounded-md">Add</div>
                                <div class="cursor-pointer w-1/2 py-2 text-[13px] px-1 hover:bg-[#404140] bg-[#383838] text-center rounded-md">Cancel</div>
                            </div>
                        }
    
                        <div class="overflow-y-auto max-h-[60vh] chatSection">
                            @for (user of displayListOfUsers; track $index) {
                                <div (click)="addToGroupMember(user._id)" class="py-1.5 px-3 relative mr-1 rounded-[5.07px] hover:bg-[#383838]">
                                    <div class="flex items-center gap-4 max-w-full text-sm">
                                        <div class="flex-initial">
                                            <img class="w-[36px] rounded-full h-auto" [src]="user.profilePicture.url" alt="">
                                        </div>
                                        <div class="flex-auto">
                                            <div class="justify-between w-full">
                                                <p class="font-medium">{{ user.displayName }}</p>
                                                <p class="text-[#CFCFCF] text-ellipsis overflow-hidden whitespace-nowrap max-w-[190px]">{{ user.about }}</p>
                                            </div>
                                        </div>
                                        <div class="absolute top-1/2 -translate-y-1/2 right-4">
                                            <label class="inline-flex items-center cursor-pointer">
                                                <input type="checkbox" class="hidden peer hy" [checked]="isInNewGroup(user._id)" />
                                                <div (click)="addToGroupMember(user._id)" class="w-4 h-4 rounded-[5.07px] peer-checked:bg-[#1DAA61] peer-checked:text-black peer-checked:flex peer-checked:items-center peer-checked:justify-center transition-all duration-200 bg-[#404140]" >
                                                    @if(isInNewGroup(user._id)) {
                                                        <svg
                                                            class="text-black w-4 h-4" 
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                                        >
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                                        </svg>
                                                    }
                                                </div>
                                              </label>                                                      
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <div (click)="openOrCloseGroupInfo()" class="w-full cursor-pointer py-4 px-8 bg-[#2C2C2C] flex items-center justify-between">
        <div class="flex flex-auto items-center gap-4 max-w-full">
            <div>
                @if(chat && chat.type === "group") {
                    <img class="w-[44px] rounded-full h-auto" [src]="chat.groupProfilePicture!.url" alt="">
                }@else if(chat) {
                    <img class="w-[44px] rounded-full h-auto" [src]="( chat.participantsData | getReciverProfileData )?.profilePicture?.url" alt="">
                }
            </div>
            <div class="flex items-baseline justify-between w-full">
                @if(chat && chat.type === "group") {
                    <p class="font-medium">{{ chat.groupName }}</p>
                }@else if(chat) {
                    <p class="font-medium">{{ ( chat.participantsData | getReciverProfileData )?.displayName }}</p>
                }
            </div>
        </div>
        <div class="px-2.5 py-2 rounded-[5.07px] flex-initial transition-all duration-300 ease-in-out hover:bg-[#3A3A3A] relative">
            <img class="w-[20px] h-auto" src="/icons/searchIcon.png" alt="">
        </div>
    </div>
    <div class="flex-1 bg-no-repeat bg-center bg-[#252424c7] pr-1">
        <div #viewChatDiv class="flex-1 flex flex-col gap-3 px-4 overflow-y-auto chatSection max-h-[76vh] pb-8">
            @if(!messages.length) {
                <div class="my-2 flex justify-center">
                    <div class="p-2 text-[10px] bg-[#1B1B1B] hover:bg-[#252424c7] rounded-[5.07px] text-[#959595] select-none">
                        Today
                    </div>
                </div>
            }

            @for (dayByMessage of messages; track $index) {
                <div class="my-2 flex justify-center">
                    <div class="p-2 text-[10px] bg-[#1B1B1B] hover:bg-[#252424c7] rounded-[5.07px] text-[#959595] select-none">
                        {{ dayByMessage.createdAt | dateFormaterForChat }}
                    </div>
                </div>
                @for (message of dayByMessage.messages; track $index) {
                    @if(isMessagedByCurrentUser(message)) {
                        <div class="flex justify-end">
                            <div class="bubble bubbleSend p-1.5 min-w-[10%] w-fit max-w-[30%] h-auto">
                                @if(message.type === "text") {
                                    <p class="break-words">{{ message.content }}</p>
                                }@else if((message.type === "image") && message.file) {
                                    <div class="my-2">
                                        <img class="h-auto object-scale-down md:w-full lg:w-[250px]" [src]="message.file.url" alt="">
                                    </div>
                                }@else if((message.type === "video") && message.file) {
                                    <div class="my-2">
                                        <video controls class="w-[300px] h-[300px]">
                                            <source [src]="message.file.url" type="video/mp4" />
                                        </video>
                                    </div>
                                }@else if((message.type === "audio") && message.file){
                                    <div class="my-2">
                                        <audio controls>
                                            <source [src]="message.file.url" type="audio/mpeg" />
                                        </audio>
                                    </div>
                                }@else if((message.type === "voiceRecord") && message.file){
                                    <div class="my-2">
                                        <audio controls>
                                            <source [src]="message.file.url" type="audio/webm" />
                                        </audio>
                                    </div>
                                }@else if((message.type === "document") && message.file) {
                                    <div class="my-1">
                                        <div class="max-w-lg rounded-lg bg-[#494949] text-gray-100">
                                            <div class=" rounded-lg p-3">
                                              <div class="flex items-center gap-3">
                                                <div>
                                                    <img class="w-[30px] h-auto" src="/icons/documentIcon.png" alt="">
                                                </div>
                                                <div class="flex-1">
                                                  <div class="text-sm text-ellipsis">{{ getDoumentName(message.file.url) }}</div>
                                                  <div class="text-xs text-gray-400">112 KB, Microsoft Edge PDF Document</div>
                                                </div>
                                              </div>
                                      
                                              <div class="grid grid-cols-2 gap-2 mt-3">
                                                <button (click)="openPdf(message.file.url)" title="Open" class="bg-[#565656] hover:bg-[#585858] text-center py-2 rounded text-sm">
                                                  Open
                                                </button>
                                                <button (click)="saveAsPdf(message.file.url)" title="Save" class="bg-[#565656] hover:bg-[#585858] text-center py-2 rounded text-sm flex items-center justify-center gap-2">
                                                  Save as...
                                                </button>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="flex justify-end items-center gap-1.5">
                                    <div>
                                        <p class="text-[11px] text-[#959595]">{{ message.createdAt | formateTime }}</p>
                                    </div>
                                    <div>
                                        @if(message.isRead) {
                                            <img class="w-[14px] h-auto transition-transform duration-300 ease-in-out scale-100 animate-scale" src="/icons/readMeassage.png" alt="tick">
                                        }@else {
                                            <img class="w-[14px] h-auto transition-transform duration-300 ease-in-out scale-100 animate-scale" src="/icons/norReadMessage.png" alt="tick">
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }@else {
                        <div class="flex gap-2 align-top justify-start">
                            @if(chat?.type === "group") {
                                <div class="relative w-fit cursor-pointer">
                                    <img class="w-[30px] h-[30px] rounded-full object-scale-down object-center" [src]="getReciverProfileData(message.senderId).profilePicture.url" alt="">
                                    <div class="absolute w-[30px] h-[30px] rounded-full hover:bg-[#38383870] z-50 top-0 left-0"></div>
                                </div>
                            }
                            <div class="bubble bubbleRecive p-1.5 min-w-[10%] w-fit max-w-[40%] h-auto">
                                @if(chat?.type === "group") {
                                    <p class="font-semibold text-[12px] leading-normal cursor-pointer hover:underline" [ngStyle]="{ color: generateLightColorFromString(message.senderId) }" >{{ getReciverProfileData(message.senderId).displayName }}</p>
                                }
                                @if(message.type === "text") {
                                    <p class="break-words">{{ message.content }}</p>
                                }@else if((message.type === "image") && message.file) {
                                    <div class="my-2">
                                        <img class="h-auto object-scale-down md:w-full lg:w-[250px]" [src]="message.file.url" alt="">
                                    </div>
                                }@else if((message.type === "video") && message.file) {
                                    <div class="my-2">
                                        <video class="w-[300px] h-[300px]" controls>
                                            <source [src]="message.file.url" type="video/mp4" />
                                        </video>
                                    </div>
                                }@else if((message.type === "audio") && message.file){
                                    <div class="my-2">
                                        <audio controls>
                                            <source [src]="message.file.url" type="audio/mpeg" />
                                        </audio>
                                    </div>
                                }@else if((message.type === "voiceRecord") && message.file){
                                    <div class="my-2">
                                        <audio controls>
                                            <source [src]="message.file.url" type="audio/webm" />
                                        </audio>
                                    </div>
                                }@else if((message.type === "document") && message.file) {
                                    <div class="my-1">
                                        <div class="md:w-full lg:w-[250px] rounded-lg bg-[#494949] text-gray-100">
                                            <div class=" rounded-lg p-3">
                                              <div class="flex items-center gap-3">
                                                <div>
                                                    <img class="w-[30px] h-auto" src="/icons/documentIcon.png" alt="">
                                                </div>
                                                <div class="flex-1">
                                                  <div class="text-sm text-ellipsis">{{ getDoumentName(message.file.url) }}</div>
                                                  <div class="text-xs text-gray-400">{{ getDoumentName(message.file.url).split(".").pop()?.toUpperCase() }} Document</div>
                                                </div>
                                              </div>
                                      
                                              <div class="grid grid-cols-2 gap-2 mt-3">
                                                <button (click)="openPdf(message.file.url)" title="Open" class="bg-[#565656] hover:bg-[#585858] text-center py-2 rounded text-sm">
                                                  Open
                                                </button>
                                                <button (click)="saveAsPdf(message.file.url)" title="Save" class="bg-[#565656] hover:bg-[#585858] text-center py-2 rounded text-sm flex items-center justify-center gap-2">
                                                  Save as...
                                                </button>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="flex justify-end items-center gap-1.5">
                                    <div>
                                        <p class="text-[11px] text-[#959595]">{{ message.createdAt | formateTime }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="bg-[#2C2C2C] py-1.5 items-center">
        <form  [formGroup]="chatForm" (submit)="sendMessage();">
            <div class="flex px-2">
                <div class="flex mr-4 items-center gap-2">
                    <div (click)="showOrCloseEmojiPicker();" class="relative px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#3A3A3A]">
                        <img class="w-[20px] h-auto" src="/icons/emojiIcon.png" alt="">
                        <div #emojiDiv class="absolute duration-300 ease-in-out -top-4 -translate-y-full -translate-x-1/2 hidden" [class.display]="showEmojiPicker" ></div>
                    </div>
                    <label for="file">
                        <div class="px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#3A3A3A] relative">
                            <input id="file" type="file" class="hidden" (change)="onFileSelected($event)" />
                            <img class="w-[20px] h-auto" src="/icons/attachFile.png" alt="">
                        </div> 
                    </label>
                </div>
                <div class="flex-1" >
                    <input #chatMessageInput formControlName="content" type="text" class="w-full py-1.5 bg-transparent border-transparent outline-none placeholder:text-[#979797]" placeholder="Type a message">
                </div>
                @if((chatForm.get("content")?.dirty && chatForm.get("content")?.value) || selectedFile){
                    <button type="submit">
                        <div class="px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#3A3A3A] relative">
                            <img class="w-[20px] h-auto" src="/icons/sendMessage.png" alt="">
                        </div> 
                    </button>
                }@else {
                    <button>
                        <div (mousedown)="startRecording()" (mouseup)="stopRecording()" (mouseleave)="stopRecording()" class="px-2.5 py-2 rounded-[5.07px] transition-all duration-300 ease-in-out hover:bg-[#3A3A3A] relative">
                            <img class="w-[20px] h-auto" src="/icons/voiceRecorderIcon.png" alt="">
                        </div> 
                    </button>
                }
            </div>
        </form>
    </div>
</div>