<div class="w-full flex flex-col min-h-screen h-screen max-h-screen">
    <div class="flex-initial">
        <app-header />
    </div>
    <div class="w-full flex flex-auto bg-[#202020]">
        <div class="flex-initial">
            <app-navbar />
        </div>
        <div class="flex gap-[2px] flex-auto min-h-full max-h-full text-white">
            <div class="w-[26.5%] flex-initial min-h-full max-h-full bg-[#2C2C2C] rounded-tl-lg pt-2 pl-4">
                <router-outlet />
            </div>
            <div class="flex-auto min-h-full max-h-full bg-[#2C2C2C]">
                @if(!chatRoomId) {
                    <div class="flex flex-auto h-full justify-center items-center relative">
                        <div>
                            <div class="mb-3 flex items-center justify-center">
                                <img class="w-[88px] h-auto" src="logo.png" alt="Logo Chat App">
                            </div>
                            <div class="font-normal text-white text-center text-[22px] mb-2">
                                <p>Chat App for Web Browser</p>
                            </div>
                            <div class="font-normal text-[#8E8E8E] text-center">
                                <p>Send and receive messages, One-To-One or Group chat.</p>
                                <p>Use Chat app for easy messageing service.</p>
                            </div>
                        </div>
                        <div class="absolute text-[#727272] bottom-12 text-sm">
                            <div class="flex items-center gap-2">
                                <div>
                                    <img class="w-[14px] h-auto" src="lockIcon.png" alt="end-to-end encrypted">
                                </div>
                                <p>End-to-end encrypted</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>